body{
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

@font-face {
  font-family: "8bit";
  src: url("font/PressStart2P.ttf");
}

.logo{
  background-image: url("img/newlogo2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.returntotitle {
  grid-area: return;
  display: flex;
  background: transparent;
  border: none !important;
  font-size:0;
  justify-content: center;
  align-items: center;
}

.returntotitle input{
  width: 150px;
  height: 150px;
}

.returntotitle input:hover{
  cursor: pointer;
}

.arcbg{
  background-image: url("img/arcade-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.console{
  background-image: url("img/arcade.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  height: 120%;
}

#continue{
  grid-area: myArea;
  display: flex;
  justify-content: center;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3.5fr 1fr;
  grid-template-areas: ". . ." ". myArea .";
}

.home-grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.96fr 2.08fr 0.96fr;
  grid-template-rows: 0.85fr 0.88fr 0.27fr;
  grid-template-areas: ". return ." ". stream ." ". nav .";
}

.about-grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 0.96fr 2.08fr 0.96fr;
  grid-template-rows: 0.85fr 0.88fr 0.27fr;
  grid-template-areas: ". return ." ". unavailable ." ". nav .";
}

.shop-grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 0.96fr 2.08fr 0.96fr;
    grid-template-rows: 0.85fr 0.88fr 0.27fr;
    grid-template-areas: ". return ." ". main ." ". nav .";
}

.main{
  background-image: url('img/grid.png');
  grid-area: main;
  display: inline-grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr;
  grid-template-areas: ". . shoptxt . ." ". shirt hoodie phone ." ". price price price .";
}

.price{
  grid-area: price;
  color: white;
  font-family: '8bit';

  display: flex;
  justify-content: space-around;
}

.shoptxt{
  grid-area: shoptxt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoptxt img{
  height: 50%;
}

.shirt{
  grid-area: shirt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shirt img{
  max-width: 75%;
}

.hoodie{
  grid-area: hoodie;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoodie img{
  max-width: 75%;
}

.phone{
  grid-area: phone;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone img{
  max-height: 90%;
}

.stream {
  grid-area: stream;
  display: flex;
}

.stream #vod{
  height: 100%;
  width: 75%;
}

.stream #chat{
  width: 25%;
  height: auto;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.unavailable {
  grid-area: unavailable;
  display: flex;
  justify-content: center;
  align-items: center;
}
